# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: Z-Wave Alliance, Inc. – https://z-wavealliance.org

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Mac OS
.DS_Store

# Nuget packages folder
packages/

# PyCharm
*.idea

# Python
__pycache__

# Visual Studio
.vs/
_ReSharper*/
[Bb]in
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
[Tt]est[Rr]esult*
*_i.c
*_p.c
*.aps
*.bak
*.cache
*.exe
*.ilk
*.log
*.lib
*.ncb
*.[Oo]bj
*.pch
*.pdb
*.sbr
*.suo
*.tlb
*.tlh
*.user
*.vspscc

# VS Code
.vscode/

# Windows
Thumbs.db
